#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period"
		%p.name - Anonymous Evernote developer

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p Thundercats quinoa ethical franzen raw denim lumbersexual. Green juice before they sold out bespoke synth. Wayfarers asymmetrical butcher, cray twee cornhole fanny pack food truck portland meggings church-key. Next level polaroid tumblr gochujang pickled tilde, kinfolk salvia bitters. Master cleanse art party vegan, echo park affogato godard paleo retro kale chips pork belly.
			.callout
				%i.fa.fa-rocket
				%h2 Florps
				%p  Photo booth man bun irony, typewriter cliche marfa stumptown godard pour-over roof party. Irony vice bespoke, +1 stumptown ethical offal narwhal hella franzen aesthetic. Master cleanse art party vegan, echo park affogato godard paleo retro kale chips pork belly. Letterpress ennui bushwick fixie pickled, squid viral.  PBR&B put a bird on it scenester mustache, mumblecore umami try-hard pabst helvetica typewriter poutine 8-bit fap polaroid.
			.callout
				%i.fa.fa-bolt
				%h2 Schnikees
				%p 3 wolf moon man bun migas, blog pug offal butcher master cleanse kinfolk photo booth. Food truck mlkshk 8-bit put a bird on it thundercats intelligentsia humblebrag DIY, whatever before they sold out. Cronut venmo tacos blue bottle plaid single-origin coffee, health goth four loko. Shabby chic butcher banh mi, tousled pinterest helvetica meh bitters. Intelligentsia cold-pressed etsy pour-over, tilde celiac photo booth venmo shabby chic art party.

#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don't, I will hunt you down.
		%button= link_to "Click Meeee!", new_user_registration_path

%footer
	%p &copy;